# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-celery
astro-sdk-python
astronomer-providers[dbt.cloud]
astronomer-providers[snowflake]
apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-sqlite